﻿@{
    Layout = null;
}
@using FoiCoreApi.Models;
@model Dictionary<string,object>
<form id="edit_form" action="@Url.Action("Edit","Panel")" method="post">

    @Html.Label("name", "Ime znamenitosti:")

    @Html.TextBox("name", (Model["basic"] as decbylang).name, new { name = "name" })

    @Html.Label("desc_short", "Kratki opis:")

    @Html.TextBox("desc_short", (Model["basic"] as decbylang).desc_short, new { name = "desc_short" })

    @Html.Label("lattitude", "Širina:")

    @Html.TextBox("lattitude", string.Format("{0:0.0#####}",((decbylang)Model["basic"]).lattitude), new { name = "lattitude" })

    @Html.Label("longitude", "Dužina:")

    @Html.TextBox("longitude", string.Format("{0:0.0#####}",((decbylang)Model["basic"]).longitude), new { name = "longitude" })

    @Html.Label("img_thumb", "Thumb slika:")

    @Html.TextBox("img_thumb", ((decbylang)Model["basic"]).img_thumb, new { name = "img_thumb" })

    @Html.Label("img_1", "Slika 1:")

    @Html.TextBox("img_1", ((decbylang)Model["basic"]).img_1, new { name = "img_1" })

    @Html.Label("img_2", "Slika 2:")

    @Html.TextBox("img_2", ((decbylang)Model["basic"]).img_2, new { name = "img_2" })

    @Html.Label("img_3", "Slika 3:")

    @Html.TextBox("img_3", ((decbylang)Model["basic"]).img_3, new { name = "img_3" })

    @Html.DropDownList("language", (Model["languages"] as IEnumerable<SelectListItem>), new { name = "language" })

    @Html.TextBox("id", ((decbylang)Model["basic"]).id, new { type="hidden", name = "id" })

    @Html.AntiForgeryToken()

    @Html.TextBox("sub_button", "Promjeni", new { type = "submit" })

</form>