﻿@{
    Layout = null;
}
@using FoiCoreApi.Models;
@model IEnumerable<description>
@{var hreflink = string.Empty;}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Css/foundation.min.css" rel="stylesheet" />
    <link href="~/Css/normalize.css" rel="stylesheet" />
    <link href="~/Css/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="width">
            <a class="button width2" href="/Panel/New" data-reveal-id="new" data-reveal-ajax="true">
                Nova znamenitost
            </a>
            <a class="button width-logout" href="/Account/Logout/">
                Odjava
            </a>
        </div>
        <dl id="descriptions" class="accordion width" data-accordion>
            @foreach (description desc in Model)
            {
                hreflink = "desc" + desc.id.ToString();
                <dd class="">
                    <a href="#@hreflink">@desc.name</a>
                    <div id="@hreflink" class="content ">
                        <a href="/Panel/Edit/@desc.id" class="button" data-reveal-id="edit" data-reveal-ajax="true">
                            Promjeni
                        </a>
                        <a href="/Panel/Delete/@desc.id" class="button delete">
                            Briši
                        </a>
                    </div>
                </dd>
            }
        </dl>
        <div id="new" class="reveal-modal" data-reveal></div>
        <div id="edit" class="reveal-modal" data-reveal></div>
    </div>
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/foundation.min.js"></script>
    <script src="~/js/custom/panel.min.js"></script>
    <script type="text/javascript">

        $(function () {

            startUp();

        });


    </script>
</body>
</html>
