﻿input[type=text], input[type=password]{
    display: block;
    margin: 25px auto;   
    width: 75%;
    max-width: 500px;
}
input[type=submit]{
    display: block;
    margin: auto;
    width: 35%;
    max-width: 150px;
}
form{
    width: 80%;
    margin: auto;
}
.logo-section{
    margin: auto;
    padding-top: 75px;
    width: 100%;
}
.logo-section img {
    display: block;
    margin: auto;
}