﻿.width{
    width: 100%;
    min-width: 100%;
}
.width2 {
    float: left;
    width: 80%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #bf1d1d;
}
.width2:hover{
    background: #991717;
}
.width-logout {
    width: 20%;
    border-left: 5px solid white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #bf1d1d;
}
.width-logout:hover{
    background: #991717;
}
.button, .delete{
    background: #bf1d1d;
}
.button:hover, .delete:hover{
    background: #991717;
}