﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Css/foundation.min.css" rel="stylesheet" />
    <link href="~/Css/normalize.css" rel="stylesheet" />
    <link href="~/Css/landing.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="logo-section">

            <img class="large-2" src="~/Img/logo.png" />

        </div>
        
        <form action="/Account/Login" method="post">

            <input class="input-boder" type="text" name="username" placeholder="Username" />

            <input class="large-4"  type="password" name="password" placeholder="Password" />

            <input class="large-4"  type="submit" name="button" value="Login" />

        </form>
    </div>
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/foundation.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $(document).foundation();

        });


    </script>
</body>
</html>
